:root {
    --color-light: #ffffff;
    --color-gray-light: #e7e7e7;
    --color-dark: #111111;

    --text-shadow: 0 0 0.5em rgba(0, 0, 0, 0.8);

    --font-family-base: "Roboto", sans-serif;

    --transition-duration: 0.2s;
}
